.build/
.DS_Store
.vscode/
# Xcode
xcuserdata/
nickpopov.xcuserdatad/

# Build generated
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj
.swiftpm

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
injected_container.swift

# Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
timeline.xctimeline
playground.xcworkspace

# Firebase config (per-developer)
sai/GoogleService-Info.plist
